In [46]:
import pandas as pd
import numpy as np

# Set random seed for reproducibility
np.random.seed(0)

# Generate synthetic temperature data for 365 days
dates = pd.date_range('2023-01-01', periods=365)
temperatures = np.random.normal(loc=20, scale=5, size=365)  # Mean=20, Std Dev=5

# Create a pandas DataFrame for the temperature data
data = pd.DataFrame({'Date': dates, 'Temperature': temperatures})

In [47]:
data['auto_1'] = data['Temperature'].autocorr(lag=1)

In [48]:
data['previous_temp'] = data['Temperature'].shift(1)

In [49]:
data

          Date  Temperature    auto_1  previous_temp
0   2023-01-01    28.820262 -0.031775            NaN
1   2023-01-02    22.000786 -0.031775      28.820262
2   2023-01-03    24.893690 -0.031775      22.000786
3   2023-01-04    31.204466 -0.031775      24.893690
4   2023-01-05    29.337790 -0.031775      31.204466
..         ...          ...       ...            ...
360 2023-12-27    23.492286 -0.031775      23.101791
361 2023-12-28    20.018854 -0.031775      23.492286
362 2023-12-29    24.659242 -0.031775      20.018854
363 2023-12-30    21.699825 -0.031775      24.659242
364 2023-12-31    19.921589 -0.031775      21.699825

[365 rows x 4 columns]

In [50]:
data.dropna(inplace=True)

In [63]:
from sklearn.linear_model import LinearRegression as LR

In [64]:
data = pd.DataFrame({'Date': dates, 'Temperature': temperatures})

In [65]:
model = LR()

In [66]:
model.fit(X,y)

LinearRegression()

In [67]:
prediction = model.predict([[data['Temperature'].iloc[-1]]])

C:\Users\kirti\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [70]:
print(f"Predicted Temperature for the next day: {prediction[0]:.2f} °C")

Predicted Temperature for the next day: 19.91 °C

In [73]:
np.random.seed(0)
days = 500
returns = np.random.normal(loc=0.001, scale=0.02, size=days)  # Daily returns with mean=0.001, std dev=0.02
prices = np.cumprod(1 + returns) * 100  # Cumulative product to get price series starting at 100

# Create a pandas DataFrame for the financial data
dates = pd.date_range('2020-01-01', periods=days)
df = pd.DataFrame({'Date': dates, 'Price': prices})

In [74]:
df

          Date       Price
0   2020-01-01  103.628105
1   2020-01-02  104.561083
2   2020-01-03  106.712403
3   2020-01-04  111.601737
4   2020-01-05  115.881793
..         ...         ...
495 2021-05-10  120.746637
496 2021-05-11  119.277023
497 2021-05-12  118.169574
498 2021-05-13  115.881712
499 2021-05-14  115.817155

[500 rows x 2 columns]

In [75]:
df['auto_lag_1'] = df['Price'].autocorr(lag=1)
df['previous_price'] = df['Price'].shift(1)

In [76]:
df

          Date       Price  auto_lag_1  previous_price
0   2020-01-01  103.628105    0.991198             NaN
1   2020-01-02  104.561083    0.991198      103.628105
2   2020-01-03  106.712403    0.991198      104.561083
3   2020-01-04  111.601737    0.991198      106.712403
4   2020-01-05  115.881793    0.991198      111.601737
..         ...         ...         ...             ...
495 2021-05-10  120.746637    0.991198      120.804442
496 2021-05-11  119.277023    0.991198      120.746637
497 2021-05-12  118.169574    0.991198      119.277023
498 2021-05-13  115.881712    0.991198      118.169574
499 2021-05-14  115.817155    0.991198      115.881712

[500 rows x 4 columns]

In [77]:
df.dropna(inplace=True)

In [78]:
df

          Date       Price  auto_lag_1  previous_price
1   2020-01-02  104.561083    0.991198      103.628105
2   2020-01-03  106.712403    0.991198      104.561083
3   2020-01-04  111.601737    0.991198      106.712403
4   2020-01-05  115.881793    0.991198      111.601737
5   2020-01-06  113.732701    0.991198      115.881793
..         ...         ...         ...             ...
495 2021-05-10  120.746637    0.991198      120.804442
496 2021-05-11  119.277023    0.991198      120.746637
497 2021-05-12  118.169574    0.991198      119.277023
498 2021-05-13  115.881712    0.991198      118.169574
499 2021-05-14  115.817155    0.991198      115.881712

[499 rows x 4 columns]

In [79]:
models = LR()

In [83]:
A = df[['previous_price']]
b = df['Price']

In [84]:
models.fit(A,b)

LinearRegression()

In [86]:
predicted_price = model.predict([[df['Price'].iloc[-1]]])

C:\Users\kirti\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [88]:
print(f"Predicted Price for the next day: {predicted_price[0]:.2f}")

Predicted Price for the next day: 16.88